<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>854456788296-96s5e2t41n3k9vrjm1o1pebthp9spcs8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.854456788296-96s5e2t41n3k9vrjm1o1pebthp9spcs8</string>
	<key>API_KEY</key>
	<string>AIzaSyCul9H9CAnDK5LJzQoPaldqlO1MObvZw1A</string>
	<key>GCM_SENDER_ID</key>
	<string>854456788296</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.assignment</string>
	<key>PROJECT_ID</key>
	<string>assignment-b6fd9</string>
	<key>STORAGE_BUCKET</key>
	<string>assignment-b6fd9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:854456788296:ios:8f7d85011a8417e19a7f7d</string>
</dict>
</plist>